* {
  user-select: none;
  -webkit-user-select: none;
}

html {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body { margin: 0; padding: 0; }

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

svg {
  width: 100dvw;
  height: 100dvh;
}
svg, svg * {
  touch-action: none;
}
text, tspan {
  pointer-events: none;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#fullscreen {
  position: absolute;
  top: 1em;
  left: 1em;
}
